// https://coolors.co/542c10-99582a-38200f-2e251f-020100
$theme-colors: (
  "default": #020100,
  "primary": #38200f,
  "secondary": #fffce8,
  "info": #eec584,
  "warning": #99582a,
  "danger": #542c10,
);

@import "~bootstrap/scss/bootstrap";

.navbar a {
  color: #fffce8;
}

a {
  transition: all ease 0.3s;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}
