// https://coolors.co/542c10-99582a-38200f-2e251f-020100
$theme-colors: (
  "default": #35261b,
  "primary": #d1bda3,
  "secondary": #eae4dd,
  "info": #865b40,
  "warning": #f3a25f,
  "danger": #de676f,
);

@import "~bootstrap/scss/bootstrap";

.navbar a {
  color: #eae4dd;
}

a {
  transition: all ease 0.3s;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

footer a {
  color: #35261b;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #35261b;
}
